body,
html {
    font-family: "Mulish", sans-serif !important;
    height: 100%;
}
.navbar-nav {
    .nav-item {
        a {
            color: #000;
            font-weight: 600;
        }
        a.active {
            color: #5b47ff;
        }
    }
}

body .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 0.5rem;
}
button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}
.container .navbar-collapse {
    flex-grow: 0;
}
.navbar-toggler {
    img {
        width: 50px;
    }
}
.navbar-brand {
    img {
        width: 115px;
        height: auto;
    }
}
.navbar-btn.btn-rounded {
    background: #000;
    color: #fff;
    margin-left: 15px;
    font-weight: bold;
    border-radius: 0;
    height: 50px;
    position: relative;
    padding-right: 100px;
    width: 225px;
    align-items: center;
    span {
        position: absolute;
        right: 20px;
        top: 10px;
        margin: auto;
    }
    &:hover {
        color: #fff;
    }
}
.navbar-toggler:focus {
    outline: 0px auto -webkit-focus-ring-color;
}
.navbar-custom.navbar-white {
    padding: 20px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.is-sticky .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px;
    background-color: #fff;
    -moz-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
}
.home-half {
    padding: 200px 0 150px 0;

    background: url("../assets/homebg.svg");
    background-size: 100%;
    .home-div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .home-right {
        text-align: right;
    }
    .home-title {
        color: #000;
        width: 100%;
        display: inline-block;
        font-weight: 900;
        font-size: 46px;
        text-align: left;
        span {
            color: rgb(91, 71, 255);
        }
    }
    .layer-img {
        width: 74%;
    }
    .subtitle {
        font-weight: 600;
        line-height: 2;
        margin-top: 15px;
        font-size: 20px;
        color: #0d0d0d;
        text-align: left;
    }
}
// HomeFeaturesPage css
.second-section {
    background: #000;
    padding: 100px 0;
    .video-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .HomeFeaturesPage {
        position: relative;
        display: flex;
        flex-direction: column;

        width: 100%;

        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        .col-lg-3 {
            padding: 0 7px;
        }
    }

    .HomeFeaturesTitle {
        position: relative;
        font-weight: 800;
        line-height: 1.3;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
        width: 745px;
        font-size: 46px;
        z-index: 5;
    }

    .HomeFeaturesPage video {
        position: absolute;
        align-content: center;
        z-index: 0;
    }

    .HomeFeaturesLines {
        position: relative;
        align-content: center;
        justify-content: center;
        z-index: 0;
        margin-top: 259px;
    }

    .HomeFeaturesContent {
        position: relative;
        top: -24%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-items: center;
        justify-content: center;
        gap: 1em;
    }

    .HomeFeaturesContentBox {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 375px;
        grid-gap: 1em;
        gap: 1em;
        padding: 1em;
        background: #242424;
        border-radius: 7px;

        .head-section {
            padding: 0 10px;
        }
        .head-line {
            width: 100%;
        }
    }

    .HomeFeaturesContentLogo {
        position: relative;

        width: 40px;
        height: auto;
        margin-top: 20px;
    }

    .HomeFeaturesHeading {
        position: relative;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.5;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .HomeFeaturesSubHeading {
        position: relative;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.8;
        letter-spacing: 0em;
        text-align: left;
        color: #ffffff;
        margin-top: 10px;
    }
}

// Cosmos css
.contribute-section {
    padding: 150px 0;
    border-bottom: 1px solid #e9f0f4;
    background: linear-gradient(180deg, rgba(239, 245, 249, 0.5) 0%, rgba(233, 240, 244, 0) 100%);
    .layer-texure {
        align-items: center;
    }
    .CosmosPage {
        position: relative;
        left: 0px;
        top: 0%;
        width: 100%;
        height: 791px;
        background: linear-gradient(180deg, rgba(239, 245, 249, 0.5) 0%, rgba(233, 240, 244, 0) 100%);
        border: 1px solid #e9f0f4;
        box-sizing: border-box;
    }

    .TitleTextCosmos {
        position: relative;
        font-weight: 800;
        line-height: 1.3;
        color: #0d0d0d;
        margin-bottom: 80px;
        text-align: center;
        span {
            display: block;
        }
    }

    .ContentCosmos {
        position: relative;
        display: flex;
        top: 15%;
        left: 10%;

        width: 70%;
        column-gap: 30%;
    }

    .ContentBoxCosmos {
        position: relative;
        width: 30%;
        gap: 6em;
    }

    .LogoPortion {
        position: relative;
        display: flex;
        margin-bottom: 10px;
    }
    .opensource {
        display: flex;
        margin: 25px 0;
        align-items: center;
        span {
            margin-right: 20px;
            background: #5b47ff;
            color: #fff;
            padding: 10px 23px 10px 20px;
            font-weight: 500;
            display: flex;
            img {
                margin-left: 15px;
                vertical-align: middle;
            }
        }
    }
    .ecosystem {
        width: 100%;
        filter: drop-shadow(0px 1px 14px rgba(0, 0, 0, 0.1));
    }
    .Logo {
        position: relative;
        width: 70px;
        margin-right: 15px;
        margin-bottom: 10px;
    }

    .Text1 {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 160%;
        color: #0d0d0d;
        text-align: left;
        margin-bottom: 25px;
        span {
            display: block;
        }
    }

    .Text2 {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 160%;
        color: #0d0d0d;
        text-align: left;
    }

    .LearnMoreCosmos {
        position: relative;
        display: flex;

        font-style: normal;
        width: 100%;
        font-weight: 800;
        font-size: 16px;
        line-height: 160%;
        color: #5b47ff;
        align-items: center;
    }

    .LearnMoreCosmos > img {
        position: relative;
        width: 19px;
        height: 19px;
        left: 10px;
        top: 2px;
    }

    .box1 {
        position: relative;
    }

    .box2 {
        position: relative;
    }
}

// First dApp css
.building-dapp {
    padding: 150px 0;
    background-image: url("../assets/HomeBackground.png");
    background-size: cover;
    overflow: hidden;
    .building-app-row {
        align-items: center;
    }
    .line-tick img {
        position: absolute;
        top: 5px;
    }
    .line-tick {
        position: relative;
    }
    .FirstDAPPPage {
        position: relative;
        display: flex;
        align-content: center;
        width: 100%;
        height: 725px;
        left: 0px;
        top: 0%;
        background: linear-gradient(180deg, rgba(239, 245, 249, 0.5) 0%, rgba(233, 240, 244, 0) 100%),
            linear-gradient(0deg, #ffffff, #ffffff);
        background-image: url("../assets/HomeBackground.png");
    }

    .ContentFirstDAPP {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-items: left;
        top: 25%;
        left: 10%;
        width: 40%;
        height: auto;
        align-items: center;
    }

    .TitleFirstDAPP {
        position: relative;
        display: flex;
        text-align: left;
        width: 100%;
        align-items: flex-start;
        align-items: center;
        margin: 0 0 25px 0;
        gap: 1em;
    }

    .TitleFirstDAPP > img {
        position: relative;
        display: flex;
        width: 30px;
        height: 27px;
    }

    .TitleFirstDAPPText {
        position: relative;
        display: flex;

        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 160%;
        text-align: left;
        text-transform: uppercase;
        left: 0%;
        color: #0d0d0d;
        width: auto;
        margin: 0;
    }

    .HeadingFirstDAPP {
        position: relative;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 1.3;
        color: #0d0d0d;
        margin-bottom: 30px;
    }

    .SubHeadingFirstDAPP {
        font-style: normal;
        font-weight: 600;
        width: 100%;
        text-align: left;
        font-size: 16px;
        line-height: 160%;
        color: #0d0d0d;
        margin-left: 25px;
    }
    .SubHeadingFirstDAPP::before {
        content: "";
        background-image: url("../assets/tick.svg");
        width: 10px;
        height: 10px;
    }

    .PictureFirstDAPP > img {
        position: relative;
        width: 100%;
    }
    .PictureBuildingDAPP {
        img {
            width: 950px;
            filter: drop-shadow(0px 1px 14px rgba(0, 0, 0, 0.1));
        }
    }
}
.first-app {
    padding: 150px 0;
    background-image: url("../assets/HomeBackground.png");
    background-size: cover;
    .first-app-row {
        align-items: center;
        .stats-sentinel {
            margin-top: 30px;
            a {
                color: #5b47ff;
            }
        }
    }
    .FirstDAPPPage {
        position: relative;
        display: flex;
        align-content: center;
        width: 100%;
        height: 725px;
        left: 0px;
        top: 0%;
        background: linear-gradient(180deg, rgba(239, 245, 249, 0.5) 0%, rgba(233, 240, 244, 0) 100%),
            linear-gradient(0deg, #ffffff, #ffffff);
        background-image: url("../assets/HomeBackground.png");
    }

    .ContentFirstDAPP {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-items: left;
        top: 25%;
        left: 10%;
        width: 40%;
        height: auto;
        align-items: center;
    }

    .TitleFirstDAPP {
        position: relative;
        display: flex;
        text-align: left;
        width: 100%;
        align-items: flex-start;
        align-items: center;
        gap: 1em;
        margin: 0 0 25px 0;
    }

    .TitleFirstDAPP > img {
        position: relative;
        display: flex;
        width: 30px;
        height: 27px;
    }

    .TitleFirstDAPPText {
        position: relative;
        display: flex;

        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 160%;
        text-align: left;
        text-transform: uppercase;
        left: 0%;
        color: #0d0d0d;
        width: auto;
        margin: 0;
    }

    .HeadingFirstDAPP {
        position: relative;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 1.3;
        color: #0d0d0d;
        margin-bottom: 30px;
    }

    .SubHeadingFirstDAPP {
        font-style: normal;
        font-weight: 600;
        width: 100%;
        text-align: left;
        font-size: 16px;
        line-height: 160%;
        color: #0d0d0d;

        margin-left: 25px;
    }
    .line-tick {
        position: relative;
        img {
            position: absolute;
            top: 5px;
        }
    }
    .PictureFirstDAPP > img {
        position: relative;
        width: 100%;
    }
}

// CompaniesPage css

.CompaniesPage {
    position: relative;
    display: flex;
    background: #5f4bff;
    padding: 100px 0;

    .TitleCompanies {
        line-height: 1.3;
        color: #ffffff;
        font-weight: 800;
        margin-bottom: 40px;
        font-size: 36px;
    }

    .CompaniesGrid {
        position: relative;
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        top: 35%;
        left: 10%;
        width: 40%;
        height: 20%;
        gap: 2em;
    }

    .CompaniesPictureBox {
        position: relative;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        margin: 25px 50px;
    }

    .CompaniesPictureBox > img {
        position: relative;
    }
    .companies-row {
        justify-content: center;
        align-items: center;
    }
}
.modal-backdrop.show {
    opacity: 0 !important;
}
.contactus.home-half {
    padding: 150px 0 150px 0;
    .home-div {
        justify-content: flex-start;
    }
    .home-right {
        text-align: center;
        margin-bottom: 80px;
    }
}

.contactus {
    iframe {
        width: 100%;
        height: 100vh;
        border: 0;
    }
    .modal-content {
        top: 45px;
        height: 90vh;
        width: 50%;
        display: inline-block;
    }
    .modal-dialog {
        transform: none;
        max-width: 1100px;
        text-align: right;
    }

    .modal.show .modal-dialog {
        transform: none;
        max-width: 1120px;
        text-align: right;
    }
    .hs-cookie-notification-position-bottom,
    div#hs-eu-cookie-confirmation {
        border: 0;
    }
}
// Contact us cs
.contact-us {
    background: #0d0d0d;
    padding: 100px 0;

    .ContactUsPage {
        position: relative;
        display: flex;
        flex-direction: column;
        grid-gap: 3em;
        gap: 3em;
        align-items: center;
        width: 100%;
    }

    .HeadingContactUs {
        position: relative;
        width: 645px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.3;
        text-align: center;
        font-size: 36px;
        color: #ffffff;
    }

    .ContactUsBtnLarge {
        position: relative;
        display: flex;
        width: 285px;
        padding: 15px 15px;
        align-items: center;
        font-style: normal;
        height: 50px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: left;
        color: #000000;
        background-color: #ffffff;
        a {
            color: #000;
            width: 225px;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .ContactUsBtnLarge img {
        position: absolute;
        display: flex;
        right: 20px;
        justify-content: center;
        align-items: center;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .ContactText {
        position: relative;
    }
}

.footer {
    padding: 50px 0;
    .foot-logo {
        margin-bottom: 15px;
        width: 115px;
    }

    .footer-list {
        li a {
            color: #434359;
            line-height: 3;
            font-size: 14px;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.footer-alt {
    margin: 0 0 50px 0;
}
// dVPN css

.dvpn {
    padding-bottom: 0px;
    padding-top: 150px;

    .dvpn-img {
        width: 100%;
        margin-top: 70px;
        filter: drop-shadow(0px -16px 44px #dbdfe5);
        z-index: -2;
    }
    .home-title {
        color: #000;
        display: inline-block;
        font-weight: 900;
        font-size: 46px;
        span {
            color: #5b47ff;
        }
    }
}
.sentinel-dvpn-section {
    background: #0d0d0d;
    box-shadow: 0 -9px 44px 15px rgba(0, 0, 0, 0.25);
    padding: 150px 0;
    margin-top: -50px;
    .SentinelPicture {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .SentinelPage {
        position: relative;
        display: flex;
        height: 881px;
        background: #0d0d0d;
        box-shadow: 0px -9px 44px 15px rgba(0, 0, 0, 0.25);
    }

    .ContentSentinel {
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        .web-sentinel {
            color: #fff;
            a {
                color: #5b47ff;
                font-weight: 600;
            }
        }
        .line-tick {
            position: relative;
            img {
                position: absolute;
                top: 5px;
            }
        }
    }

    .HeadingSentinel {
        position: relative;
        display: flex;
        font-style: normal;
        font-weight: 800;
        color: #ffffff;
        font-size: 36px;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .SubHeadingSentinel {
        position: relative;
        line-height: 1.5;
        font-style: normal;
        font-weight: 600;
        width: 100%;
        font-size: 16px;
        color: #ffffff;
        margin-left: 25px;
    }

    .SentinelPicture > img {
        position: relative;
        width: 100%;
        height: auto;
    }

    .DownloadsPageSentinel {
        position: relative;
        display: flex;
        font-style: normal;
        width: 100%;
        font-weight: bold;
        font-size: 16px;
        color: #5b47ff;
        align-items: center;
        margin-top: 15px;
    }

    .DownloadsPageSentinel > img {
        position: relative;
        width: 19px;
        height: 19px;
        left: 15px;
    }
}
.industry-leading {
    padding: 150px 0;
    .DVPNFeaturesPage {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 798px;
        gap: 2em;
        background: #f8f8fd;
    }

    .TitleTextDVPNFeatures {
        position: relative;
        text-align: center;
        font-weight: 800;
        color: #0d0d0d;
        font-size: 36px;
        margin-bottom: 50px;
        span {
            display: block;
        }
    }

    .FeatureBoxDVPNFeatures {
        position: relative;
        display: flex;
        justify-content: stretch;
        gap: 5%;
        left: 10%;
        top: 30%;
        width: 80%;
    }

    .FeatureDVPNFeatures {
        position: relative;
        display: flex;
        flex-direction: column;

        margin-top: 50px;
    }

    .FeatureDVPNFeatures > img {
        position: relative;
        width: 30px;
        height: 30px;
    }

    .HeadingDVPNFeatures {
        position: relative;
        width: 100%;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        color: #0d0d0d;
        margin: 25px 0;
    }

    .SubHeadingDVPNFeatures {
        position: relative;
        width: 100%;
        font-family: Mulish;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 2;
        color: #0d0d0d;
    }

    .feature4DVPNFeatures {
        white-space: nowrap;
    }
}

// Cosmos css
.cosmos-section {
    padding-bottom: 100px;
    padding-top: 150px;
    background: url("../assets/homebg.svg");
    background-size: cover;
    .CosmosLandingPage {
        position: relative;
        width: 100%;
        height: 771.3px;
        background: linear-gradient(180deg, rgba(239, 245, 249, 0.5) 0%, rgba(233, 240, 244, 0) 100%),
            linear-gradient(0deg, #ffffff, #ffffff);
        background-image: url("../assets/HomeBackground.png");
    }

    .CosmosLandingPageLayout {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 1em;
        left: 10%;
        top: 15%;
        width: 90%;
    }

    .CosmosLandingPageContent {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .CosmosLandingPageHeading {
        position: relative;
        color: #000000;
    }

    .CosmosLandingPageHeading {
        position: relative;
        font-size: 46px;
        font-weight: 900;
        color: #000000;
    }

    .CosmosLandingPageSubHeading {
        position: relative;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.5;
        color: #000;
        margin: 30px 0 45px 0;
    }

    .CosmosLandingPageLogos {
        position: relative;
        display: flex;
        top: 5%;
        flex-direction: row;
        gap: 2em;
    }

    .CosmosLandingPageLogoBox {
        position: relative;
        display: flex;
        width: 146px;
        height: 35px;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
    }

    .CosmosLandingPageLogoBox > img {
        position: relative;
    }

    .CosmosLandingPageLogo {
        position: relative;
        img {
            width: 100%;
        }
    }
}
.cosmos-second-section {
    background: #5b47ff;
    padding: 150px 0;
    .CosmosLandingPage2 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .CosmosLandingPage2Heading {
        position: relative;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.3;
        margin: 0;
        letter-spacing: 0em;
        color: #ffffff;
        text-align: center;
    }
}
.cosmos-ecosystem {
    background: #0d0d0d;
    padding: 150px 0;
    .opensource {
        color: #fff;
        img {
            margin-left: 5px;
        }
    }
    .ComsosLandingPage3 {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 731px;
        width: 100%;
        background: #0d0d0d;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }

    .CosmosLanding3Heading {
        position: relative;
        display: flex;
        font-size: 36px;
        font-weight: 800;
        line-height: 1.2;
        text-align: center;
        color: #ffffff;
        width: 675px;
        justify-content: center;
        margin: auto;
        margin-bottom: 50px;
    }
    .CosmosLanding3Context {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-around;
    }

    .CosmosLanding3ContextBox {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .CosmosLanding3ContextBox > img {
        position: relative;
        margin-bottom: 25px;
    }

    .CosmosLanding3ContextHeading {
        position: relative;
        font-family: Mulish;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
    }

    .CosmosLanding3ContextSubHeading {
        position: relative;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: center;
        color: #ffffff;
    }
}

// About page css
.about.AboutPage1 {
    background: url("../assets/homebg.svg");
    background-size: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 250px 0;

    img {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .AboutPage1Heading {
        position: relative;
        font-size: 64px;
        font-style: normal;
        text-align: center;
        color: #000;
        align-items: center;
        width: 500px;
        margin: auto;
        font-weight: 900;
    }
}
.about-portfolio {
    padding-top: 50px;
    .AboutPage2 {
        position: relative;
        display: flex;
        width: 100%;
        /* align-content: center;
        justify-content: center; */
    }

    .AboutPage2Content {
        /* background: teal; */
        position: relative;
        width: 100%;
        display: grid;
        gap: 4em;
        grid-template-columns: repeat(2, 1fr);
        /* justify-content: space-around;
        justify-items: space-around;
        align-content: space-around;
        align-items: space-around; */
    }

    .AboutPage2ContentBox {
        position: relative;
        display: flex;
        flex-direction: column;

        .texture {
            position: absolute;
            z-index: 0;
            width: 100%;
            left: 0;
        }
    }

    .AboutPage2ContentBoxImg {
        position: relative;
        display: flex;

        filter: drop-shadow(0px -6px 24px rgba(0, 0, 0, 0.15));
    }

    .AboutPage2ContentBoxImgTop {
        position: relative;
        padding: 0 30px;
        padding-top: 75px;
        // background: url("../assets/about-texture.png");
        background-repeat: no-repeat;
        background-position: 115px 0px;
        filter: drop-shadow(0px -6px 24px rgba(0, 0, 0, 0.15));
        box-shadow: 0px 9.55139px 81.1868px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        margin-bottom: 60px;
    }

    .AboutPage2ContentHeading {
        position: relative;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
        margin: 15px 0;
    }

    .AboutPage2ContentPosition {
        position: relative;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
        color: #5b47ff;
    }

    .AboutPage2ContentSubHeading {
        position: relative;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        color: #0d0d0d;
        padding-bottom: 35px;
        .about-linkedin {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

// Resoponsive css

@media (max-width: 991px) {
    .navbar-custom.navbar-white {
        padding: 10px 20px;
    }
    .navbar-custom.navbar-white {
        padding: 10px 20px;
        background: #e9f0f4;
    }
    .cosmos-section {
        .CosmosLandingPageLogoBox {
            position: relative;
            display: flex;
            width: auto;
            height: auto;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
        }
        .CosmosLandingPageLogoBox > img {
            position: relative;
            width: 80%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .CosmosLandingPageHeading {
            position: relative;
            font-size: 32px;
            font-weight: 900;
            color: #000000;
            text-align: center;
            line-height: 1.3;
        }
        .CosmosLandingPageLogo {
            display: none;
        }
    }
    .second-section {
        .HomeFeaturesPage video {
            position: relative;
            width: 100%;
        }
    }
    .home-half {
        .home-title {
            width: 100%;
            font-size: 36px;
        }
        .subtitle {
            width: 100%;
            line-height: 1.5;
            font-size: 18px;
        }
    }
    .second-section {
        padding: 50px 0;
        .HomeFeaturesTitle {
            font-size: 30px;
            width: 100%;
        }
        .HomeFeaturesContentBox {
            margin: 25px 0;
        }
    }

    .contribute-section {
        padding: 50px 0;
        .TitleTextCosmos {
            font-size: 30px;
        }

        .TitleTextCosmos {
            text-align: center;

            span {
                display: inline;
            }
        }
        .box1 {
            position: relative;
            margin: 25px 0;
        }
    }
    .first-app {
        padding: 50px 0;
        .HeadingFirstDAPP {
            font-size: 24px;
        }
        .HeadingFirstDAPP {
            font-size: 24px;
        }
    }
    .building-dapp {
        .HeadingFirstDAPP {
            font-size: 24px;
        }
    }
    .contact-us .HeadingContactUs {
        width: 100%;
        font-size: 30px;
    }
    .CompaniesPage {
        padding: 50px 0;
        .TitleCompanies {
            text-align: center;
            font-size: 30px;
        }
    }
    .footer {
        text-align: center;
    }
    .dvpn {
        .home-title {
            font-size: 36px;
            line-height: 1.3;
        }
    }
    .sentinel-dvpn-section {
        padding: 50px 0;
        margin-top: -35px;
        .HeadingSentinel {
            font-size: 30px;
            line-height: 1.3;
        }
        .DownloadsPageSentinel {
            margin-bottom: 25px;
        }
    }
    .industry-leading .TitleTextDVPNFeatures {
        font-size: 30px;
        line-height: 1.3;
    }
    .cosmos-second-section .CosmosLandingPage2Heading {
        font-size: 30px;
    }
    .cosmos-ecosystem .CosmosLanding3Heading {
        font-size: 30px;
        line-height: 1.3;
    }
    .about.AboutPage1 .AboutPage1Heading {
        font-size: 36px;

        line-height: 1.3;
    }
    .about-portfolio .AboutPage2ContentBox {
        background-image: none;
        text-align: center;
        align-items: center;
    }
    .about-portfolio .AboutPage2ContentSubHeading {
        align-items: center;
        text-align: center;
    }
    .building-dapp .PictureBuildingDAPP img {
        width: 100%;
    }
    .footer-alt {
        .float-left {
            text-align: center;
            width: 100%;
        }
    }
    .PictureFirstDAPP {
        width: 100%;
    }
    .home-half .home-title {
        text-align: center;
    }
    .home-half .home-right {
        text-align: center;
    }
    .home-half .subtitle {
        text-align: center;
    }
    .contribute-section .opensource span {
        margin-bottom: 12px;
    }
    .contribute-section .opensource {
        flex-direction: column;
    }
    .contribute-section .LogoPortion {
        justify-content: center;
    }
    .contribute-section .Text1 {
        text-align: center;
    }
    .second-section .HomeFeaturesContentBox {
        height: auto;
    }
    .sentinel-dvpn-section .SentinelPicture {
        display: none;
    }
    .HomeFeaturesLines {
        display: none;
    }
    .cosmos-ecosystem .CosmosLanding3Heading {
        width: 100%;
    }
    .cosmos-ecosystem .opensource {
        color: #fff;
        margin-bottom: 40px;
    }
    .cosmos-section .CosmosLandingPageSubHeading {
        text-align: center;
    }
    .cosmos-section .CosmosLandingPageLogos {
        position: relative;
        display: flex;
        /* top: 5%; */
        flex-direction: column;
        /* grid-gap: 2em; */
        /* gap: 2em; */
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .cosmos-section .CosmosLandingPageLogos {
        position: relative;
        display: flex;
        top: 5%;
        flex-direction: column;
        /* grid-gap: 2em; */
        gap: 0;
    }
    .about.AboutPage1 {
        padding: 150px 0;
        padding-bottom: 0;
    }
    .about-portfolio .AboutPage2ContentHeading {
        text-align: center;
    }
    .about-portfolio .AboutPage2ContentPosition {
        text-align: center;
    }
    .about-portfolio {
        padding-top: 0px;
    }
    .contactus .modal-content {
        top: 45px;
        height: 90vh;
        width: 100%;
        display: inline-block;
    }
}

@media (max-width: 540px) {
    .second-section .HomeFeaturesTitle {
        font-size: 24px;
        width: 100%;
    }
    .CompaniesPage .TitleCompanies {
        text-align: center;
        font-size: 24px;
    }
    .contact-us .HeadingContactUs {
        width: 100%;
        font-size: 24px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .second-section .HomeFeaturesContentBox {
        height: 300px;
    }
}
@media (max-width: 767px) and (min-width: 576px) {
    .second-section .HomeFeaturesSubHeading {
        position: relative;
        font-size: 14px;
    }
    .second-section .HomeFeaturesContentBox {
        margin: 25px 0;
        height: 300px;
    }
    .second-section .HomeFeaturesHeading {
        font-size: 16px;
    }
}
